async-generator==1.10
atomicwrites==1.4.1
attrs==22.2.0
bleach==4.1.0
certifi==2021.5.30
colorama==0.4.5
decorator==5.1.1
defusedxml==0.7.1
entrypoints==0.4
importlib-metadata==4.8.3
iniconfig==1.1.1
ipython-genutils==0.2.0
joblib==1.1.1
jsonschema==3.2.0
mistune==0.8.4
nbclient==0.5.9
nest-asyncio==1.5.8
numpy==1.19.5
packaging==21.3
## !! Could not determine repository location
Packaging-ML-Models==0.0.1
pandas==1.1.5
pandocfilters==1.5.0
pluggy==1.0.0
py==1.11.0
Pygments==2.14.0
pyparsing==3.1.1
pyrsistent==0.18.0
pytest==7.0.1
python-dateutil==2.9.0.post0
pytz==2024.1
pywin32==305
pyzmq==25.1.1
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
testpath==0.6.0
threadpoolctl==3.1.0
tomli==1.2.3
tornado==6.1
traitlets==4.3.3
typing_extensions==4.1.1
webencodings==0.5.1
wincertstore==0.2
zipp==3.6.0
